@import url('https://fonts.googleapis.com/css?family=Tauri');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Happy+Monkey');
@import url('https://fonts.googleapis.com/css?family=Righteous');

/* General styles */

html {
	font-family: 'Tauri', sans-serif;
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
}	
body {
	margin: auto;
	padding: 0;
	border: 0;
}

/* Header and NAV */

header {
	background-image: url('../img/bg.png');
	text-align: center;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}
header ul {
	margin: 0;
	padding: 10px;
}
header a {
	text-decoration: none;
	color: #333333;
}
header p {
	margin: 0;
	padding-top: 65px;
}
header p a {
	font-size: 14px;
	color: blue;
}
header p a:hover {
	color: #660000;
    font-weight: bold;
}
header img {
	width: 520px;
	margin-bottom: 20px;
}
header h1 {
	margin: 150px 0 0 0;
	font-size: 75px;
	font-family: 'Lobster', cursive;
}
header h2 {
	font-family: 'Lobster', cursive;
    margin: 0 0 20px 0;
    font-size: 35px;
}
nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 1496px;
  font-family: 'Righteous', cursive;
  position: absolute;
  z-index: 2000;
  left: 0;
  right: 0;
  background-color: grey;
  border: 2px groove grey;
  opacity: 1.3;
}
nav a {
	font-size: 27px;
}
nav li {
	list-style-type: none;
	text-align: center;
}
#submenu {
	display: block;
	font-size: 23px;
	padding: 0 10px;
	overflow: hidden;
	opacity: 0;
	height: 0;
	transition: all 0.5s ease in;
} 
#submenu li:hover{
   -webkit-transform: scale(1.3);
   -ms-transform: scale(1.3);
   transform: scale(1.3);
}

/*Headings H1*/

.about h1, .myskills h1, .contacts h1 {
	padding: 0 20px;
	font-size: 37px;
}

/* Section ABOUT */

div.awadsblock img {
	height: 150px;
}
div.sociallinks {
	display: inline-flex;
	justify-content: center; 
}
div.sociallinks img {
	margin: 30px 15px;
}
div.sociallinks img:hover{
	height: 75px;
}
hr.hrdesktop {
	border: 0px solid black;
	color: #7c0000;
    width: 75px;
    background-color: #7c0000;
    height: 10px;
    float: left;
    margin: -10px 0 0 17px;    
}
hr.hrmobile {
	display: none;
}
#aboutt p {
	margin: 7px;
	font-size: 15px;
	line-height: 1.8;
}
#aboutt h3 {
	font-size: 24px;
}
.buttons {
	display: flex;
	justify-content: center;
}
.buttons button {
	margin: 0 15px 10px 15px;
	background-color: #00112d;
    border: none;
    color: white;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 50%;
}
 
/* Styles for slaider */

.slider {
	width: 800px;
	margin: 50px auto 10px auto;
	overflow: hidden;
}
#aboutt div {
	float: left;
	width: 800px;
}
#aboutt {
	position: relative;
	width: 2400px;
	left: 0;
	transition: all ease 1s;
	text-align: center;
}
#aboutt::after {
	content: "";
	display: block;
	clear: both;
}

/* Section SKILLS AND LANGUAGES */

section.myskills {
	background-image: url('../img/bg2.png');
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 15px 10px 50px 10px;
	background-position: center center;
}
section.content {
	margin-right: auto;
	margin-left: auto;
	max-width: 950px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 20px;
    text-align: center;
    font-family: 'Happy Monkey', cursive;
}
section.content div {
	min-height: 300px;
	border: 0px solid black;
    font-size: 1.3em;
    display: grid;
    text-align: center;
    align-content: center;
    opacity: 0.7;
}
.grey {
    background: #afafaf;
    color: black;
}
.red {
    background-color: #ffb2b2;
}
input {
	width: 200px;
}

/* Contacts */

section.contacts {
	display: flex;
	justify-content: space-around;
 }

section.contacts li {
	list-style-type: none;
}
iframe {
	width: 90%;
}

/* Footer */

footer {
	font-family: 'Happy Monkey', cursive;
    font-weight: bold;
    background: grey;
    padding: 8px;
    color: black;
    margin: 0;
    opacity: 0.7;
    max-height: 55px;
}
div.olp {
	display: flex;
	justify-content: space-between;
}
footer p {
    text-align: center;
    font-size: 1.5em;
    color: black;
    margin: 0;
}
div.sociallinksfooter img {
	margin: 5px;
	height: 25px;
}
div.sociallinksfooter img:hover{
	height: 27px;
}
footer h5 {
	margin: 5px;
}
footer p a{
	font-size: 14px;
	color: blue;
}
footer p a:hover {
	color: #660000;
    font-weight: bold;
}

/* Responsive */

@media (max-width: 992px) {
    h1 {
        padding: 0 20px;
        font-size: 50px;
    }
    section.content {
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    section.content div:nth-child(1) {
        grid-column: initial;
    }
    section.content div:nth-child(3) {
        grid-column: initial;
    }
    section.content div:nth-child(5) {
        grid-row: initial;
        grid-column: initial;
    }   
}

@media (max-width: 768px) {
    section.content {
       grid-template-columns: 1fr; 
    }
    section.content div {
        font-size: 25px;
    }
    section.content div:nth-child(1) {
        grid-column: initial;
    }
    section.content div:nth-child(3) {
        grid-column: initial;
    }
    section.content div:nth-child(6) {
        grid-row: initial;
        grid-column: initial;
    }
}

@media(max-width: 765px) {
	section.contacts {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	hr.hrmobile {
		display: flex;
		width: 50%; 
		margin: 20px 25% 0 25%;
		border: 0;
        height: 3px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }
    section.contacts hr.hrdesktop {
   	    display: none;
   }
   section.contacts h1 {
   	    margin: 0;
   }
   #contact_me {
    	margin-bottom: 20px;
   }
}

@media(max-width: 600px) {
	header img {
		width: 90%;
	}
}

@media(max-width: 511px) {
	footer {
		max-height: 100px;
		margin: auto;
	}
	div.olp {
		justify-content: center;
		align-items: center;
		flex-direction: column-reverse;
	}
}